/* Custom Styles for Registration Page */
.login-body {
    background: url('https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    overflow: hidden;
    position: relative;
}

.login-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.login-section {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    max-width: 400px;
    width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 8px;
}

.login-card h2 {
    color: #219C90;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%; /* Cambiado a 100% para que ocupe el mismo tamaño que el botón */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para asegurar que el padding se incluya en el ancho total */
}

.btn-primary {
    background-color: #219C90;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #1a7a6d;
}

.login-card a {
    color: #219C90;
}

.login-card a:hover {
    color: #176956;
}

.text-center {
    text-align: center;
}
